{% extends 'main/layout.html' %}

{% block title %}Удаление публикации{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
          <div class="about">
    <div class="about__body">
        <div class="about__header">
            <div class="abouttitle">Удаление новости</div>
       </div>
    </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <center>
                <div class="about__text">Вы уверены, что хотите удалить данную вакансию? Эта запись навсегда будет удалена!</div>
            <button class="cnopka">Удалить</button>
                </center>
            <br>
                     <div class="text-center">
						<a class="txt2" href="{% url 'news_home' %}">
							Вернуться
						</a>
					</div>
</div>
        </form>
{% else %}
 <section class="fdb-block">
    <center>
    <div class="about__body">
      <div class="alert alert-danger">
    Вы не можете удалить вакансию, так как вы не администратор!
</div>
    </div>
        </center>
 <div class="otstyp">
    <div class="container">
        <center><img class="rounded-circle" src="/static/main/img/error.png" width="250px"></center>
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">

            <center>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <br>
                <br>
                <a href="/"><button class="cnopka" title="Нажмите для просмотра">Главная</button></a>
            </center>
        </div>
      </div>
    </div>
        </div>
 </section>
{% endif %}
{% endblock %}