{% extends 'main/layout.html' %}

{% block title %}{{ vk.title }} | WorldIT{% endblock %}

{% block content %}

         <div class="titulnii">{{ vk.title }}</div>
<section class="fdb-block">
  <div class="container">
      <div class="vakansii">
          <h3 class="text-center">Описание</h3>
            <br>
            <p class="text-left">{{ vk.anons }}</p>
            <br>
            <p class="text-left">{{ vk.full_text }}</p>
            <br>
          <center>
             <p class="lead"><strong>Стоимость - <b>{{ vk.price }}₽</b></strong></p>
              </center>
        </div>
      <div class="vakansii">
          <center>
        <img alt="image" class="maximumIMG" src="/static/main/img/vkS.png">
              <br>
              <br>
        <h3>VK мини-приложения</h3>
        <p class="text-center">Этот продукт является лицензированным и сделанным в полном объеме. Если при использовании у Вас появятся ошибки, то просим Вас написать нам, заполнив форму обратной связи или же позвонить по телефону</p>
        <a href="/"><button class="cnopka">Главная</button></a>
              </center>
      </div>
    </div>
  </div>
     <div class="text-center">
						<a class="txt2" href="{% url 'plDiscord' %}">
							Вернуться
						</a>
					</div>
      </div>
  </div>
</section>

{% endblock %}