{% extends 'main/layout.html' %}

{% block title %}Discord | WorldIT{% endblock %}

{% block content %}

<div class="about__body">
        <div class="about__header">
            <div class="abouttitle">Discord</div>
       </div>
    </div>
 <div class="content">
    <div class="content__container">
<b>Discord</b> — кроссплатформенная проприетарная система мгновенного обмена сообщениями с поддержкой VoIP
        и видеоконференций, предназначенная для использования различными сообществами по интересам. Наиболее популярна у геймеров и учащихся. Разработчиком является компания
        <b>Discord Inc</b>. из Сан-Франциско.
    </div>
 </div>
  <section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>Discord чат-боты</h1>
          <p class="text-h3">Сейчас они становятся все более и более актуальными. Почти каждый Discord сервер оснащен ботами.</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="static/main/img/maindiscord.png">
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Почему именно Discord чат-боты?</h1>
        <ul class="qw">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Востребованность и нарастающая популярность - одно из главных качеств платформы Discord</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Многообразие категорий у чат-ботов не обходят Discord стороной, развивая его быстрыми темпами</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Возможность быстро развивать свой проект в Discord с помощью чат-ботов</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>С помощью них можно организовать лучшие условия для игры и общения</li>
            </ul>
        </div>
      </div>
    </div>
  </section>

<section class="fdb-block pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0">
          <img alt="image" class="img-fluid br-0" src="static/main/img/discordS.png">
        </div>

        <div class="col-12 ml-md-auto col-md-7 col-lg-5 pb-5 pb-md-0">
          <h1>Как использовать?</h1>
          <p class="text-h3">Нажмите на кнопку ниже и прочтите подробную инструкцию в использовании Discord чат-бота</p>
          <p class="mt-4">
                            <button  class="cnopka" title="Нажмите для просмотра" type="button" data-toggle="modal" data-target="#myModal">Инструкция</button>
                 <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Инструкция для Discord ботов</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
           <ul class="qw">
                <li><b>1.</b> После успешной покупки Вашего Discord бота переходим к содержимому покупки.</li>
                <li><b>2.</b> После создания Вашего сервера на Discord перейдите к загрузке бота.</li>
                <li><b>3.</b> На вкладке Applications выберите New Application.</li>
                <li><b>4.</b> Введите название будущего приложения и нажмите Create.</li>
                <li><b>5.</b> Приложение создано. Перейдите не вкладку Bot и нажмите Add Bot, чтобы добавить нового бота.</li>
                <li><b>6.</b> Бот создан. На вкладке Bot отобразится вся информация о нем. Тут можно изменить его имя, добавить изображение и скопировать токен бота.
                    Этот токен понадобится вам для настройки модуля Discord на платформе Appmaster.i. Каждый раз при внесении изменений портал разработчика будет предлагать вам сохранить их.
Сохраните токен бота, чтобы при последующей настройке не возвращаться к этому шагу.</li>
               <li><b>7.</b> Теперь перейдите на вкладку OAuth2 — тут можно настроить разрешения и получить ссылку на вашего бота. В разделе SCOPES выберите bot,
                   в BOT PERMISSIONS отметьте разрешения, которые хотите ему предоставить, в нашем случае — только отправка сообщений, поэтому выберите Send Message.
                   После скопируйте автоматически сгенерированную Discord ссылку.</li>
               <li><b>8.</b> Вставьте скопированную ссылку в адресную строку браузера и перейдите по ней — откроется окошко вашего приложения.
                   Выберите ваш сервер в раскрывающемся списке и нажмите Continue.</li>
                <li><b>9.</b> Убедитесь, что приложению (а значит, и созданному в нем боту) даны только необходимые разрешения, после чего добавьте его на ваш сервер.</li>
            </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        </div>

      </div>
    </div>
  </div>
          </p>
        </div>
      </div>
    </div>
</section>
<br><br>

<section class="fdb-block" style="background-image: url(static/main/img/bg_0.svg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <div class="fdb-box">
            <h1>Каталог Discord ботов</h1>
            <p class="text-h3">
              Если вы успешно ознакомились с данным разделом - <b>Discord</b>, то тогда предлагаем Вам своих ботов
            </p>
              <center>
              <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                  </center>
              <br>
            <p class="mt-4">
                <a href="{% url 'plDiscord' %}"><button  class="cnopka" title="Нажмите для просмотра" type="button">Перейти к магазину Discord</button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<br>
 <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Отсутствует нужный программный продукт?</h1>
          <p class="text-h3">Напишите нам в <a class="sviaz" href="https://t.me/+Q6ABLh_skXQ2MDIy">Telegram</a> или же заполните форму на главной странице, перейдя по кнопке ниже.
              Мы сможем выполнить на заказ Telegram ботов, 1С конфигурации, VK мини-приложения и Discord ботов
              <br>
              <br>
              <img src="static/main/img/apple.svg" alt="" width="60px">
              <br><br>Команда <b>WorldIT</b> найдет подход для каждого покупателя</p>
             <a href="/"><button  class="cnopka" title="Нажмите для просмотра" type="button">Главная страница</button></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}