{% extends 'main/layout.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
 <section class="fdb-block">
    <center>
    <div class="about__body">
      <div class="alert alert-danger">
    Вы не можете сбросить пароль, так как находитесь в аккаунте!
</div>
    </div>
        </center>
 <div class="otstyp">
    <div class="container">
        <center><img class="rounded-circle" src="/static/main/img/error.png" width="250px"></center>
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">

            <center>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <br>
                <br>
                <a href="/"><button class="cnopka" title="Нажмите для просмотра">Главная</button></a>
            </center>
        </div>
      </div>
    </div>
        </div>
 </section>
{% else %}
  <section class="fdb-block">
    <center>
    <div class="about__body">
      <div class="alert alert-info">
    Ваш пароль был успешно изменен!
</div>
    </div>
        </center>
      <div class="otstyp">
    <div class="container">
        <center><img class="rounded-circle" src="/static/main/img/done.png" width="200px"></center>
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Поздравляем!</h1>
          <p class="text-h3">Вы успешно изменили пароль для своего аккаунта. Теперь вы можете войти уже с новым паролем.</p>
            <br>
            <center>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <br>
                <br>
                <a href="{% url 'login' %}"><button class="cnopka" title="Нажмите для входа">Войти</button></a>
            </center>
        </div>
      </div>
    </div>
        </div>
  </section>
{% endif %}
{% endblock %}