{% extends 'main/layout.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
 <section class="fdb-block">
    <center>
    <div class="about__body">
      <div class="alert alert-danger">
    Вы не можете сбросить пароль, так как находитесь в аккаунте!
</div>
    </div>
        </center>
 <div class="otstyp">
    <div class="container">
        <center><img class="rounded-circle" src="/static/main/img/error.png" width="250px"></center>
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">

            <center>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <br>
                <br>
                <a href="/"><button class="cnopka" title="Нажмите для просмотра">Главная</button></a>
            </center>
        </div>
      </div>
    </div>
        </div>
 </section>
{% else %}
  <section class="fdb-block">
    <center>
    <div class="about__body">
      <div class="alert alert-info">
    На вашу почту отправлено письмо с ссылкой, по которой нужно перейти
</div>
    </div>
        </center>
      <div class="otstyp">
    <div class="container">
        <center><img class="rounded-circle" src="/static/main/img/email.png" width="250px"></center>
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Проблема с письмом?</h1>
          <p class="text-h3">Написанная Вами почта, должна была получить письмо с ссылкой на восстановление пароля для вашего аккаунта. Если на Вашем
              почтовом ящике нет письма от нашей компании, то проверьте правильность написания почты или обновите страницу. В другом случае можем предложить Вам
              нашу инструкцию по восстановления аккаунта.</p>
            <br>
            <center>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <br>
                <br>
                <button  class="cnopka" title="Нажмите для просмотра" type="button" data-toggle="modal" data-target="#myModal">Инструкция</button>
                 <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Инструкция по сбросу пароля</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
           <ul class="qw">
                <li><b>1.</b> Нажмите на "Войти", а затем на "Забыли пароль?"</li>
                <li><b>2.</b> Убедитесь в правильности написания вашей электронной почты и отправьте запрос на сброс Вашего пароля</li>
                <li><b>3.</b> Зайдите на свою электронную почту и найдите письмо, отправленное нами</li>
                <li><b>4.</b> Перейдите к этому письму, внимательно прочитайте содержимое и нажмите на индивидуальную ссылку сброса пароля</li>
                <li><b>5.</b> После этого у Вас откроется наш сайт, где необходимо будет ввести новый пароль</li>
                <li><b>6.</b> Далее Вас отправит на заключительную страницу - поздравление, после которой Вы уже сможете войти в свой аккаунт уже с новым паролем</li>
            </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        </div>

      </div>
    </div>
  </div>
            </center>
        </div>
      </div>
    </div>
        </div>
  </section>
{% endif %}
{% endblock %}