{% extends 'main/layout.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
 <section class="fdb-block">
    <center>
    <div class="about__body">
      <div class="alert alert-danger">
    Вы не можете сбросить пароль, так как находитесь в аккаунте!
</div>
    </div>
        </center>
 <div class="otstyp">
    <div class="container">
        <center><img class="rounded-circle" src="/static/main/img/error.png" width="250px"></center>
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">

            <center>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                <br>
                <br>
                <a href="/"><button class="cnopka" title="Нажмите для просмотра">Главная</button></a>
            </center>
        </div>
      </div>
    </div>
        </div>
 </section>
{% else %}
<div class="about">
    <div class="about__body">
        <div class="about__header">

       </div>
    </div>
        </div>

<div class="container">
<div class="center">
    <div class="itemss__labell">Восстановление пароля</div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="cnopka" type="submit">Изменить пароль</button>
        <br>
    </form>
    </div>
</div>
<br>
<br>
{% endif %}
{% endblock %}