{% extends 'main/layout.html' %}

{% block title %}Telegram | WorldIT{% endblock %}

{% block content %}

<div class="about__body">
        <div class="about__header">
            <div class="abouttitle">Telegram</div>
       </div>
    </div>
 <div class="content">
    <div class="content__container">
        <b>Telegram</b> — кроссплатформенная система мгновенного обмена сообщениями с функциями VoIP, позволяющая обмениваться текстовыми,
        голосовыми и видеосообщениями, стикерами и фотографиями, файлами многих форматов.
    </div>
 </div>
<section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>Telegram боты</h1>
          <p class="text-h3">Маленький бизнес или же просто вспомогательный друг зарождается именно в Telegram, используя своего бота.</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="static/main/img/maintelegram.png">
        </div>
      </div>
    </div>
  </section>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Почему именно Telegram боты?</h1>
        <ul class="qw">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Масштабность и набирающаяся популярность</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Очень удобные и практичные боты, которые могу служить Вам, начиная от личного друга до финансового консультанта</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Возможность зарабатывать на них</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Поддержка 24/7 и экономия ресурсов</li>
            </ul>
        </div>
      </div>
    </div>
  </section>

<section class="fdb-block pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0">
          <img alt="image" class="img-fluid br-0" src="static/main/img/telegramC.png">
        </div>

        <div class="col-12 ml-md-auto col-md-7 col-lg-5 pb-5 pb-md-0">
          <h1>Как использовать?</h1>
          <p class="text-h3">Нажмите на кнопку ниже и прочтите подробную инструкцию в использовании Telegram ботов</p>
          <p class="mt-4">
                            <button  class="cnopka" title="Нажмите для просмотра" type="button" data-toggle="modal" data-target="#myModal">Инструкция</button>
                 <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Инструкция для Telegram ботов</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
           <ul class="qw">
                <li><b>1.</b> После успешной покупки Telegram бота перейти к содержимому покупки.</li>
                <li><b>2.</b> Чтобы получить токен и зарегистрировать своего бота (пока пустого), нужно обратиться к системному боту @BotFather.</li>
                <li><b>3.</b> Напишите /newbot. Это команда создания бота.</li>
                <li><b>4.</b> Придумайте и напишите имя для бота. Название бота может быть абсолютно любой комбинацией символов на латинице, цифр, дефисов и подчеркиваний, но заканчиваться оно должно на «bot».</li>
                <li><b>5.</b> При желании добавьте аватарку бота или пропустите этот шаг.</li>
                <li><b>6.</b> В ответ на эти действия @BotFather отправит вам токен — длинный код. Скопируйте его и сохраните.</li>
                <li><b>7.</b> Далее этот токен необходимо заменить в коде.</li>
            </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        </div>

      </div>
    </div>
  </div>
          </p>
        </div>
      </div>
    </div>
</section>

<br>

<section class="fdb-block" style="background-image: url(static/main/img/bg_0.svg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <div class="fdb-box">
            <h1>Каталог Telegram ботов</h1>
            <p class="text-h3">
              Если вы успешно ознакомились с данным разделом - <b>Telegram</b>, то тогда предлагаем Вам своих ботов
            </p>
              <center>
              <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                  </center>
              <br>
            <p class="mt-4">
                <a href="{% url 'plTelegram' %}"><button  class="cnopka" title="Нажмите для просмотра" type="button">Перейти к магазину Telegram</button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<br>
 <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Отсутствует нужный программный продукт?</h1>
          <p class="text-h3">Напишите нам в <a class="sviaz" href="https://t.me/+Q6ABLh_skXQ2MDIy">Telegram</a> или же заполните форму на главной странице, перейдя по кнопке ниже.
              Мы сможем выполнить на заказ Telegram ботов, 1С конфигурации, VK мини-приложения и Discord ботов
              <br>
              <br>
              <img src="static/main/img/apple.svg" alt="" width="60px">
              <br><br>Команда <b>WorldIT</b> найдет подход для каждого покупателя</p>
             <a href="/"><button  class="cnopka" title="Нажмите для просмотра" type="button">Главная страница</button></a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}