{% extends 'main/layout.html' %}

{% block title %}VK | WorldIT{% endblock %}

{% block content %}

<div class="about__body">
        <div class="about__header">
            <div class="abouttitle">VK</div>
       </div>
    </div>
<div class="content">
    <div class="content__container">
<b>«ВКонта́кте»</b> — российская социальная сеть со штаб-квартирой в Санкт-Петербурге. Сайт доступен на 86 языках, особенно популярен среди русскоязычных пользователей.
    </div>
 </div>
<section class="fdb-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-5">
          <h1>VK мини-приложения</h1>
          <p class="text-h3">VK - пожалуй самая популярная социальная сеть, которая выделяется своими мини-приложениями</p>
        </div>
        <div class="col-12 col-md-6 ml-md-auto mt-4 mt-md-0">
          <img alt="image" class="img-fluid" src="static/main/img/mainvk.png">
        </div>
      </div>
    </div>
  </section>
  <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Почему именно VK мини-приложения?</h1>
        <ul class="qw">
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Удобство и разнообразие - главный признак мини-приложений</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>VK - социальная сеть, в которой зарегистрирован почти каждый</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Разнообразие и масштабность</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#191970" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>Простота самой социальной сети и, конечно же, мини-приложений</li>
            </ul>
        </div>
      </div>
    </div>
  </section>

<section class="fdb-block pb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0">
          <img alt="image" class="img-fluid br-0" src="static/main/img/vkS.png">
        </div>

        <div class="col-12 ml-md-auto col-md-7 col-lg-5 pb-5 pb-md-0">
          <h1>Как использовать?</h1>
          <p class="text-h3">Нажмите на кнопку ниже и прочтите подробную инструкцию в использовании VK мини-приложений</p>
          <p class="mt-4">
                            <button  class="cnopka" title="Нажмите для просмотра" type="button" data-toggle="modal" data-target="#myModal">Инструкция</button>
                 <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Инструкция для VK мини-приложений</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
           <ul class="qw">
                <li><b>1.</b> После успешной покупки VK мини-приложения перейдите к содержимому покупки.</li>
                <li><b>2.</b> В качестве официального источника по подробной работе с VK мини-приложениями будет оставлена следующая ссылка:
                    <a href="https://dev.vk.com/mini-apps/getting-started">https://dev.vk.com/mini-apps/getting-started</a></li>
            </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
        </div>

      </div>
    </div>
  </div>
          </p>
        </div>
      </div>
    </div>
</section>

<br>

<section class="fdb-block" style="background-image: url(static/main/img/bg_0.svg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <div class="fdb-box">
            <h1>Каталог VK мини-приложений</h1>
            <p class="text-h3">
              Если вы успешно ознакомились с данным разделом - <b>VK</b>, то тогда предлагаем Вам свои мини-приложения
            </p>
              <center>
              <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
                  </center>
              <br>
            <p class="mt-4">
                <a href="{% url 'plVk' %}"><button  class="cnopka" title="Нажмите для просмотра" type="button">Перейти к магазину VK</button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<br>
 <section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-8 text-center">
          <h1>Отсутствует нужный программный продукт?</h1>
          <p class="text-h3">Напишите нам в <a class="sviaz" href="https://t.me/+Q6ABLh_skXQ2MDIy">Telegram</a> или же заполните форму на главной странице, перейдя по кнопке ниже.
              Мы сможем выполнить на заказ Telegram ботов, 1С конфигурации, VK мини-приложения и Discord ботов
              <br>
              <br>
              <img src="static/main/img/apple.svg" alt="" width="60px">
              <br><br>Команда <b>WorldIT</b> найдет подход для каждого покупателя</p>
             <a href="/"><button  class="cnopka" title="Нажмите для просмотра" type="button">Главная страница</button></a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}